*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box !important;
}
body{
    font-family: SamsungOne, arial, sans-serif;
    
}
video{
    /* height: 100vh; */
    /* width: 100%; */
    
}
